* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Dosis', sans-serif;
}

.page {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.page__body {
  position: relative;
  flex: 1;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.page__header, .page__footer {
  position: relative;
  height: 125px;
  flex: 0;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

@media (max-width: 700px) {
  .page__header {
    height: 100px;
  }

  .page__footer {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #2f2f2f;
  }

  .footer-title {
    color: white;
  }
}

.page-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 32px;
}

@media (max-width: 700px) {
  .page-title {
    font-size: 20px;
  }
}

.email-form {
  position: relative;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
  background-color: #00c39e;
  color: white;
}

.email-form__button {
  width: 200px;
  height: 85px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: white;
  color: #00c39e;
  font-family: 'Dosis', sans-serif;
  font-size: 22px;
  font-weight: 600;
  cursor: pointer;
}

.email-form__button:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

.email-form__button.email-form__button--fail {
  color: #d63833;
}

.email-form__close {
  position: absolute;
  padding: 20px;
  right: 0px;
  top: 0px;
  cursor: pointer;
}

.email-form__errors {
  margin-bottom: 20px;
  color: #d63833;
}

.email-form__field {
  width: 500px;
  height: 75px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 3px solid white;
  border-radius: 5px;
  background: none;
  color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  line-height: 45px;
}

.email-form__text {
  margin-bottom: 20px;
  font-family: 'Dosis', sans-serif;
  font-size: 22px;
  font-weight: 500;
}

textarea.email-form__field {
  height: 190px;
  resize: none;
}

.email-form__field::placeholder {
  color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 22px;
  font-weight: 500;
  text-decoration: underline;
}

@media(max-width: 700px) {
  .email-form__field {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    align-self: stretch;
  }
}

.subsection-title {
  margin: 0;

  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  font-weight: 600;

  cursor: default;
}

.subsection-body {
  margin: 0;

  font-family: 'Dosis', sans-serif;
  font-size: 20px;

  cursor: default;
}

@media (max-width: 700px) {
  .subsection-title {
    font-size: 16px;
    text-align: center;
  }

  .subsection-body {
    font-size: 16px;
  }
}

.work-processes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.work-process {
  margin-bottom: 45px;
}

.work-process-title.is-selected {
  color: #00c39e;
}

.work-process-description.is-selected {
  color: #00c39e;
}

.work-process-illustration-small {
  display: none;
  visibility: hidden;
}

@media (max-width: 700px) {
  .work-process {
    margin-bottom: 60px;
  }

  .work-process-title {
    margin-bottom: 5px;
  }

  .work-process-description {
    text-align: justify;
  }

  .work-process-title.is-selected {
    color: #2f2f2f;
  }

  .work-process-description.is-selected {
    color: #2f2f2f;
  }

  .work-process-illustration-small {
    display: block;
    visibility: visible;

    width: 268px;
    height: 60px;
    margin-top: 5px;
  }
}

.process-illustrations-large {
  position: relative;
  /* width: 450px;
  height: 875px; */
  width: 337.5px;
  height: 656px;
  margin-right: 25px;
}

.process-illustration-large {
  position: absolute;
  width: 337.5px;
  height: 656px;
  opacity: 0;

  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.process-illustration-large.is-active {
  opacity: 1;
}

@media (max-width: 700px) {
  .process-illustrations-large {
    display: none;
    visibility: hidden;
  }
}

.work-process-list {
  width: 370px;
  margin-right: 10px;
  list-style: none;
}

@media (max-width: 700px) {
  .work-process-list {
    width: 277px;
    padding-left: 0;
    margin-right: 0;
  }
}

.contact-options {
  position: relative;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact-option {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

.contact-option:hover {
  cursor: pointer;
}

.contact-option-separator {
  display: inline-block;
  margin: auto 10px;

  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

.contact-option__email-form-hint {
  position: absolute;
  right: 20px;
  margin: auto;
  display: inline-block;
  color: #2f2f2f;
}

.contact-option__email-form-hint--mobile {
  display: none;
}

.email-contact-option {
  cursor: pointer;
}

.email-icon--mobile {
  width: 30px;
  height: 23px;
}

.github-icon {
  width: 24px;
  height: 24px;
}

.observable-hq-icon {
  width: 24px;
  height: 24px;
}

.email-icon--mobile,
.github-icon--mobile,
.observable-hq-icon--mobile {
  display: none;
  visibility: hidden;
}

@media (max-width: 700px) {
  .contact-options {
    flex-direction: column;
  }

  .contact-option {
    height: 50px;
    margin: 0px 25px 15px 25px;
    border: 2px solid white;
    border-radius: 5px;
    align-self: stretch;
    align-items: center;
  }

  .contact-option:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }

  .contact-option-separator {
    display: none;
    visibility: hidden;
  }

  .contact-option__email-form-hint {
    display: none;
  }

  .contact-option__email-form-hint--mobile {
    display: inline-block;
    position: absolute;
    right: 20px;
    margin: auto;
    font-size: 12px;
    color: white;
  }

  .email-icon,
  .github-icon,
  .observable-hq-icon {
    display: none;
    visibility: hidden;
  }

  .email-icon--mobile,
  .github-icon--mobile,
  .observable-hq-icon--mobile {
    display: inline-block;
    visibility: visible;
  }
}

.toast-notifications {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 20px;
  padding-left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.toast-notification {
  padding: 0 20px;

  color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;

  background-color: #00c39e;
  border-radius: 5px;
  box-shadow: #88939f 0px 2px 4px, #88939f 0px 0px 8px;
  list-style: none;
  opacity: 0;

  -webkit-transition: opacity .3s ease-in-out;
  -moz-transition: opacity .3s ease-in-out;
  -ms-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
}

.toast-notification.is-active {
  opacity: 1;
}

@media (max-width: 700px) {
  .toast-notification {
    font-size: 16px;
  }
}
